#content
{
	text-align: left;
	
}
#content hr
{
	width: 90%;
	background-color: #dddddd;
	border-top: #dddddd 1px solid;
}
#content h1,h2,h3,h4,h5
{
	color: #cf8428;
	font-family: 'Crete Round', serif;
	font-weight: normal;
}
#contentHeader h1
{
	text-align: center;
	color: #ffffff;
}


.contentWrapper
{
	width: 94%;
	margin-left: auto;
	margin-right:auto;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color: #666666;
	font-weight:100;
}
.contentWrapper a
{
	color: #cf8428;
	font-family: 'Crete Round', serif;
	text-decoration: underline;
}
.contentWrapper a:hover
{
	text-decoration: none;
}
.contentWrapper ul 
{
	list-style: none;
    padding:0;
    margin:0;
}
.contentWrapper ul li
{
	padding-left: 1em; 
    text-indent: -.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.contentWrapper ul li:before
{
	content: "● ";
	font-size: 18px;
    color: #cf8428; /* or whatever color you prefer */
}

#stepsCarrier3 {
    float:left;
    width:100%;
   /* background:green;*/
    overflow:hidden;
    position:relative;
}
#stepsCarrier2 {
    float:left;
    width:100%;
/*    background:yellow;*/
    position:relative;
    right:33%;
}
#stepsCarrier {
    float:left;
    width:100%;
    /*background:red;*/
    position:relative;
    right:33%;
}

#leftCarrier {
    float:left;
    width:33%;
    position:relative;
    left:67%;
    overflow:hidden;
}
#centerCarrier {
    float:left;
    width:33%;
    position:relative;
    left:67%;
    overflow:hidden;
}
#rightCarrier {
    float:left;
    width:33%;
    position:relative;
    left:67%;
    overflow:hidden;
}

#leftHeader {
	width:311px;
	height:88px;
	display: table-cell;
	vertical-align: middle;
	background-repeat:no-repeat;
	background: url(../images/css_sprite.png);
	background-position:-290px -274px;
	margin-left: auto;
	font-family: 'Crete Round', serif;
	font-size: 45px;
	color: #ffffff;
	text-align: center;
}

#centerHeader
{
	display: table-cell;
	width: 311px;
	height: 88px;
	background: #cf8428;
	vertical-align: middle;
	font-family: 'Crete Round', serif;
	font-size: 45px;
	color: #ffffff;
	text-align: center;
}

#rightHeader {
	width:311px;
	height:88px;
	display: table-cell;
	vertical-align: middle;
	background-repeat:no-repeat;
	background: url(../images/css_sprite.png);
	background-position:-9px -393px;
	margin-left: auto;
	font-family: 'Crete Round', serif;
	font-size: 45px;
	color: #ffffff;
	text-align: center;
}
.divContent
{
	width: 86%;
	margin-left: 15px;
	color: #666666; 
	font-family: 'Crete Round', serif;
	font-size: 14px;
}

.firstDark {
	font-weight: bold;
}
.first {
	color: #cf8428;
}